---
export const prerender = true;
// @ts-ignore
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";

const technologies = [
  {
    name: "HTML",
    icon: "logos:html-5",
  },
  {
    name: "CSS",
    icon: "logos:css-3",
  },
  {
    name: "SASS",
    icon: "logos:sass",
  },
  {
    name: "Tailwind",
    icon: "logos:tailwindcss-icon",
  },
  {
    name: "JavaScript",
    icon: "logos:javascript",
  },
  {
    name: "TypeScript",
    icon: "logos:typescript-icon",
  },
  {
    name: "Python",
    icon: "logos:python",
  },
  {
    name: "Golang",
    icon: "logos:go",
  },
  {
    name: "React",
    icon: "logos:react",
  },
  {
    name: "React Native",
    icon: "logos:react",
  },
  {
    name: "Expo",
    icon: "vscode-icons:file-type-light-expo",
  },
  {
    name: "SvelteKit",
    icon: "logos:svelte-icon",
  },
  {
    name: "Astro",
    icon: "logos:astro",
  },
  {
    name: "Shadcn UI",
    icon: "simple-icons:shadcnui",
  },
  {
    name: "NodeJS",
    icon: "logos:nodejs-icon",
  },
  {
    name: "Bun",
    icon: "vscode-icons:file-type-bun",
  },
  {
    name: "ElysiaJS",
    icon: "elysia",
  },
  {
    name: "Flask",
    icon: "flask-light",
  },
  {
    name: "Firebase",
    icon: "logos:firebase",
  },
  {
    name: "Supabase",
    icon: "supabase",
  },
  {
    name: "Prisma",
    icon: "logos:prisma",
  },
  {
    name: "Drizzle ORM",
    icon: "material-icon-theme:drizzle",
  },
  {
    name: "MySQL",
    icon: "logos:mysql",
  },
  {
    name: "PostgreSQL",
    icon: "logos:postgresql",
  },
  {
    name: "SQLite",
    icon: "logos:sqlite",
  },
  {
    name: "MongoDB",
    icon: "logos:mongodb",
  },
  {
    name: "Docker",
    icon: "logos:docker-icon",
  },
  {
    name: "Linux",
    icon: "logos:linux-tux",
  },
  {
    name: "Git",
    icon: "logos:git-icon",
  },
  {
    name: "GitHub",
    icon: "mdi:github",
  },
  {
    name: "Figma",
    icon: "logos:figma",
  },
];
---

<Layout title="About">
  <main>
    <div class="content">
      <div class="info-box profile">
        <img src="/illustration.webp" alt="Profile" />
        <div>
          <div class="name active">Sparsh Kaushik</div>
          <div class="lead">Full Stack Developer</div>
        </div>
        <div class="socials"></div>
      </div>
      <div class="resume">
        <div class="heading">About Me</div>
        <p>
          Welcome to my digital space! I'm Sparsh Kaushik, yet another nerdy,
          passionate, and versatile developer with a keen eye for full-stack web
          development. My skills extend to the realm of backend development, API
          creation, and the seamless integration of cloud services. Proficient
          in both SQL and NoSQL database management systems, I ensure robust
          data handling in every project.
        </p>
        <p>
          In my technological toolkit, you'll find expertise in
          JavaScript/TypeScript. I craft engaging user experiences with
          frameworks like React, Svelte, and SvelteKit. On the backend, I
          leverage NodeJS/Golang/Flask, while my database mastery spans MySQL,
          SQLite, and cloud-based solutions like Firebase and Supabase. Whether
          it's AWS, Azure, or OCS, I'm well-versed in deploying applications on
          various cloud platforms. Beyond coding, I bring creativity to the
          table using design tools like Figma and Photoshop, and I streamline
          development with Tailwind CSS. Git, GitHub, Docker, and Linux round
          out my skill set, ensuring a comprehensive approach to building and
          maintaining cutting-edge digital solutions. Let's turn ideas into
          reality!
        </p>
        <div class="heading">Experience</div>
        <div class="exp">
          <span class="lead">Jan 2025 – Current</span>
          <span class="title">Software Engineer (Intern)</span>
          <span class="comp">Sortin (Hybrid) Gurugram, Haryana, India</span>
          <ul>
            <li>
              Engineered the frontend, integrated APIs, and optimized AI model
              prompts for newsa.sortin.in, enabling the platform to collate
              results from diverse sources via natural language user queries.
            </li>
            <li>
              Technologies: Typescript, NextJS, Tailwind CSS, React Query,
              Supabase, Zustand.
            </li>
          </ul>
        </div>
        <div class="exp">
          <span class="lead">Jul 2024 – Aug 2024</span>
          <span class="title">Software Engineer (Intern)</span>
          <span class="comp"
            >Nightjar Technologies (Hybrid) Gurugram, Haryana, India</span
          >
          <ul>
            <li>
              Developed and implemented a responsive web application and mobile
              app for Trailguard AI, featuring sections like analytics
              dashboards, real-time camera feed, battery monitoring, and
              notification management.
            </li>
            <li>
              Integrated complex API functionalities to ensure seamless
              communication between the Frontend and Backend, enhancing the
              app's performance and user experience.
            </li>
            <li>
              Technologies: Typescript, NextJS, Expo, React Native, Tailwind
              CSS, Axios, REST API.
            </li>
          </ul>
        </div>
        <div class="exp">
          <span class="lead">Nov 2022 – Dec 2024</span>
          <span class="title">Full Stack Engineer - erp.vips.edu</span>
          <span class="comp"
            >Vivekananda Institute of Professional Studies Delhi, India</span
          >
          <ul>
            <li>
              Developed and deployed "Manthan," an in-house ERP system for
              VIPS-TC College, supporting over 8,000 users with modules for
              event management, faculty attendance, and an LMS for student
              activities.
            </li>
            <li>
              Integrated biometric hardware for accurate faculty attendance
              tracking, ensuring precise and efficient record-keeping.
            </li>
            <li>
              Provided multi-platform access through a web app, Android app, and
              an admin dashboard, enhancing user accessibility and operational
              efficiency.
            </li>
            <li>
              Technologies: React, Typescript, SCSS, NextJS, React Native,
              Firebase.
            </li>
          </ul>
        </div>
        <div class="exp">
          <span class="lead">Jul 2023 – Nov 2023</span>
          <span class="title">Frontend Engineer</span>
          <span class="comp">Freelance Remote</span>
          <ul>
            <li>
              Developed and customized a responsive SvelteKit analytics
              dashboard with interactive graphs, tailored to client needs for
              optimized data visualization and decision-making.
            </li>
            <li>
              Technologies: Typescript, SvelteKit, Tailwind CSS, REST API.
            </li>
          </ul>
        </div>
        <div class="heading">Education</div>
        <div class="exp">
          <span class="lead">2021 - Present</span>
          <span class="title">B.Tech. AIML</span>
          <span class="comp">VIPS-TC</span>
          <p>
            I'm currently pursuing a Bachelor of Technology in Computer Science
            and Engineering at VIPS-TC, where I'm a member of the C.O.D.E. the
            technical society. I'm also a member of the college's ERP Team.
          </p>
        </div>
        <div class="exp">
          <span class="lead">2021</span>
          <span class="title">SECONDARY SCHOOL</span>
          <span class="comp">Delhi International Public School</span>
        </div>
        <div class="heading">Technologies</div>
        <div class="tech">
          {
            technologies.map((tech) => (
              <div>
                <Icon name={tech.icon} />
                {tech.name}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>

  <style lang="scss">
    main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 1.5rem;

      .content {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          gap: 2rem;
        }

        .profile {
          position: sticky;
          top: 10%;

          height: fit-content;

          display: flex;
          flex-direction: column;
          align-items: center;

          gap: 2rem;

          @media screen and (max-width: 768px) {
            position: relative;
            top: 0;
          }

          img {
            max-height: 30vh;
          }

          .name {
            font-size: 1.5rem;
            font-weight: 600;
          }

          .lead {
            font-size: 1.25rem;
            font-weight: 500;
          }

          .socials {
            display: flex;
            align-items: center;

            gap: 1rem;
          }
        }

        .resume {
          .heading {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--text-color);

            &:not(:first-child) {
              margin-top: 2rem;
              margin-bottom: 1rem;
            }
          }

          p {
            font-size: 1rem;
            font-weight: 400;
          }

          .exp {
            display: flex;
            flex-direction: column;

            margin-top: 1rem;

            .lead {
              font-size: 1.1rem;
              font-weight: 500;
            }

            .title {
              font-size: 1.15rem;
              font-weight: 500;
              color: var(--accent-color);
            }

            .comp {
              font-size: 1rem;
              font-weight: 400;
            }

            p {
              color: var(--text-color);
            }
          }

          .tech {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 1rem;

            > div {
              display: flex;
              align-items: center;

              gap: 0.5rem;

              > svg {
                height: 32px;
                width: 32px;
              }
            }
          }
        }
      }
    }
  </style>
</Layout>
