---
const routes: {
  [key: string]: string;
} = {
  Home: "/",
  About: "/about",
  // Work: "/work",
  Contact: "/contact",
};

const path = Astro.url.pathname;
---

<div class="topbar">
  <img class="logo" src="/favicon.svg" alt="logo" />
  <div class="menu">
    {
      Object.keys(routes).map((route) => (
        <a
          class={`link ${path === routes[route] ? "active" : ""}`}
          href={routes[route]}
        >
          {route}
        </a>
      ))
    }
  </div>
  <!-- <a href="/contact">
    <div class="btn">Contact</div>
  </a> -->
</div>

<style lang="scss">
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0;
    margin-bottom: 5rem;

    @media screen and (max-width: 480px) {
      padding: 1rem 1.5rem;
    }

    img.logo {
      width: 48px;
      height: 48px;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 2.5rem;

      @media screen and (max-width: 480px) {
        display: none;
      }

      .link {
        text-decoration: none;
        color: var(--lead-text-color);
        font-weight: 500;
        font-size: 16px;

        letter-spacing: 0.75px;

        &:hover,
        &:active {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
