---
import Icon from "astro-icon";
import Right from "./icons/Right.astro";
const routes: {
  [key: string]: string;
} = {
  Home: "/",
  About: "/about",
  Work: "/work",
  Contact: "/contact",
};

const path = Astro.url.pathname;
---

<div class="topbar">
  <img class="logo" src="/favicon.svg" alt="logo" />
  <div class="menu">
    {
      Object.keys(routes).map((route) => (
        <a
          class={`link ${
            (
              route === "Home"
                ? path === routes[route]
                : path.startsWith(routes[route])
            )
              ? "active"
              : ""
          }`}
          href={routes[route]}
        >
          {route}
        </a>
      ))
    }
  </div>
  {
    path !== "/" && (
      <a href="/">
        <Right class="icon" />
      </a>
    )
  }
</div>

<style lang="scss">
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0;
    margin-bottom: 5rem;

    @media screen and (max-width: 480px) {
      padding: 1rem 1.5rem;
      margin-bottom: 3rem;
    }

    img.logo {
      width: 48px;
      height: 48px;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 2.5rem;

      @media screen and (max-width: 480px) {
        display: none;
      }

      .link {
        text-decoration: none;
        color: var(--lead-text-color);
        font-weight: 500;
        font-size: 16px;

        letter-spacing: 0.75px;

        &:hover,
        &:active {
          color: var(--primary-color);
        }
      }
    }

    .icon {
      display: none;
      width: 24px;
      height: 24px;
      transform: rotate(180deg);

      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.5rem;
      border-radius: 50%;

      @media screen and (max-width: 480px) {
        display: block;
      }
    }
  }
</style>
