---
import Right from "./icons/Right.astro";

const routes: {
	[key: string]: string;
} = {
	Home: "/",
	About: "/about",
	Work: "/work",
	Contact: "/contact",
};

const path = Astro.url.pathname;
---

<div class="flex items-center justify-between py-4 mb-12 px-6 min-[480px]:px-0 min-[480px]:mb-20">
  <img class="w-12 h-12" src="/favicon.svg" alt="logo" />
  <div class="hidden items-center justify-between gap-10 min-[480px]:flex">
    {
      Object.keys(routes).map((route) => (
        <a
          class={`no-underline text-lead-text font-medium text-[16px] tracking-[0.75px] hover:text-text active:text-text ${
            (
              route === "Home"
                ? path === routes[route]
                : path.startsWith(routes[route])
            )
              ? "text-text!"
              : ""
          }`}
          href={routes[route]}
        >
          {route}
        </a>
      ))
    }
  </div>
  {
    path !== "/" && (
      <a href="/" class="block min-[480px]:hidden">
        <Right class="w-10 h-10 rotate-180 bg-text/10 p-2 rounded-full" />
      </a>
    )
  }
</div>
