---
import { ClientRouter } from "astro:transitions";
import TopBar from "../components/TopBar.astro";
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            href="https://fonts.googleapis.com/css?family=Poppins"
            rel="stylesheet"
        />
        <slot name="head" />
        <script
            defer
            data-domain="sparshkaushik.com"
            src="https://plsbl.touchtech.club/js/script.file-downloads.hash.outbound-links.js"
        ></script>
        <script>
            (window as any).plausible =
                (window as any).plausible ||
                function () {
                    ((window as any).plausible.q =
                        (window as any).plausible.q || []).push(arguments);
                };
        </script>
    </head>
    <body>
        <TopBar />
        <ClientRouter />
        <slot />
        <div class="flex flex-col justify-center items-center mt-16">
            <img src="/favicon.svg" alt="Astro" width="48" height="48" />
            <p>
                Made with <a href="https://astro.build" class="text-text">Astro</a>
            </p>
        </div>
    </body>
</html>
